CherryPy==3.2.3
PyYAML==3.10
Pygments==1.6
argparse==1.2.1
bottle==0.11.6
bpython==0.12
distribute==0.6.35
oauthlib==0.3.8
pyOpenSSL==0.13
requests==1.1.0
requests-oauthlib==0.3.0
wsgiref==0.1.2
nose==1.2.1
nose-cov==1.6
