Source: python-salesforce
Priority: optional
Maintainer: Adam Stokes <adam.stokes@ubuntu.com>
Build-Depends: debhelper (>= 9), python (>=2.7), python-nose
Standards-Version: 3.9.4
Section: python
Homepage: https://github.com/debugmonkey/python-salesforce
Vcs-Git: https://github.com/debugmonkey/python-salesforce.git
Vcs-Browser: https://github.com/debugmonkey/python-salesforce

Package: python-salesforce
Architecture: any
Depends: ${python:Depends}, ${misc:Depends}, python-bottle, python-oauthlib, python-openssl, python-yaml, python-cherrypy3, python-pygments, python-requests, requests-oauthlib
Description: Salesforce authorization and client library
 Python-salesforce is a OAuth 1.0a authorization
 and a RESTful client for interfacing with Salesforce
 REST API. This library supports Salesforce API v27.0 and
 above.
